
@{
    ViewBag.Title = "Trợ giúp - Help";
}

<div class="fit">
    <div class="back-category">
        <img src="~/images/category.jpg" alt="">
        <div class="category-title">
            <div class="category-title-header">
                <p>Explore</p>
                <h1>@Project.Resources.MyText.Help</h1>
            </div>
        </div>
    </div>
</div>
<div class="fit">
    <div class="bg-white">
        <h2 class="title-highlight">@Project.Resources.MyText.Help</h2>
        <div class="body-content">
            CTY BÁO CHÍ THỜI ĐẠI MỚI
        </div>
    </div>
</div>


